
app/es/wp-content/themes/*
app/es/wp-content/themes/*

mysql/*
app/pt/wp-content/plugins/cloudflare/storage/views/*
app/es/wp-content/plugins/cloudflare/storage/views/*
app/pt/wp-content/uploads/.bladecache/*
app/es/wp-content/uploads/.bladecache/*
.gitignore
docker-compose.yml
config/default-ssl.conf
config/docker-entrypoint.sh
config/certs/cert.crt
config/certs/key.key
