
app/es/wp-content/themes/pa-theme-downloads
app/es/wp-content/themes/pa-theme-sedes
app/pt/wp-content/themes/pa-theme-downloads
app/pt/wp-content/themes/pa-theme-sedes
mysql/*
app/pt/wp-content/plugins/cloudflare/storage/views/*
app/es/wp-content/plugins/cloudflare/storage/views/*
app/pt/wp-content/uploads/.bladecache/*
