SetEnvIf X-Forwarded-Proto "https" HTTPS=on
Header append Vary: X-Forwarded-Proto

# hotlink protection
#<IfModule mod_rewrite.c>
#	RewriteEngine on
#	RewriteCond %{HTTP_REFERER} !^$
#	RewriteCond %{HTTP_REFERER} !^http://(www|noticias|videos|downloads)?.adventistas.org(/)?.*$     [NC]
#	RewriteRule ^(.*)\.(gif|jpg|png|bmp|jpeg|js)$ http://noticias.adventistas.org/404.php?$1.$2   [NC,L]
#</ifModule>

Redirect 301	/es/wp-content/themes/pa-thema-materiais/static/custom_static/img/header.png	/404.php
Redirect 301	/pt/wp-content/themes/pa-thema-materiais/static/custom_static/img/header.png	/404.php


